{{ define "500"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERREUR 500</title>
</head>
<body>
    <div id="allContent">
        <div id="rainbow-right">
            <img src="./static/img/rainbow.gif" alt="">
        </div>


        <div id="principalContent">
            <img src="./static/img/wtf.gif" alt="">
            <h1>ERREUR 500</h1>
        </div>


        <div id="rainbow-left">
            <img src="./static/img/rainbow.gif" alt="">
        </div>
    </div>


</body>
</html>
{{end}}