{{ define "profile"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/profile.css">
    <title>Profile</title>
</head>

<body>
    <span id="titre">
        <h1> Profile</h1>
        <form action="/home" method="POST">
            <button id="logoutbutton"> home</button>
        </form>
    </span>
    <div class="info">
        <h2> Vous etes connecter en tant que {{ .User.Username}}</h2>
        <h3>Email : {{ .User.Email}}</h3>
    </div>
    <div id="post">

        {{range .Poste}}
        <div id="testpost">
            <div id="postTitle">
                <h1>{{.Name}}</h1>
            </div>
            <div class="barre"></div>
            <br>
            <div id="postContent">
                <h2>{{.Contentpost}}</h2>
            </div>
            <form method="POST" action="/profile">
                <button type="submit" id="like" name="buttonLike" value="{{.ID}}">ㅤLike : {{.Like}}ㅤ</button>
            </form>
            <button type="submit" id="delete" onclick="PopupDelete()"></button>

        </div>
        
        {{end}}
    </div>
    {{range .Poste}}
    <div id="popup">
            <script>
                function PopupDelete() {
                    document.getElementById('popup').style.display = "flex"
                }
                function HiddenPopup() {
                    document.getElementById('popup').style.display = "none"
                }

            </script>
            <span id="close" onclick="HiddenPopup()">X</span>
            <br>
            <span id="sure"> Etes vous sur de vouloir supprimer votre poste ?</span>
            <br>
            <form action="/profile" method="POST" id="formvalidation">
                <button type="submit" id="validationOui" name="ButtonOui" value="{{ .ID}}"><span>Sure
                        ?</span><span>Oui</span></button>
                <button type="submit" id="validationNon" onclick="HiddenPopup()"><span>Sure
                        ?</span><span>Non</span></button>
            </form>

        </div>
        {{ end}}


</body>

</html>
{{end}}