* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 45em;
    bottom: 0;
    background-color: #2C2F33;
    color: rgb(225, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#categorieBar {
    background-color: #52575E;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 15%;
    text-align: center;
    box-shadow: 15px 0px 24px rgba(164, 68, 159, 0.164);
    transition: 0.5s;
}

#categorieBar:hover {
    transition: 0.5s;
    box-shadow: 15px 0px 24px rgba(164, 68, 159, 0.273);
}

#categorieBar h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
}

#testpost {
    background-color: #848586;
    margin-top: 0.7em;
    border-style: solid;
    border-color: #A444A0;
    box-shadow: inset 0px 0px 10px rgba(164, 68, 159, 0.5), 0px 0px 20px rgba(164, 68, 159, 0.555);
    border-radius: 15px;
    width: 90%;
}

#post {
    background-color: #52575E;
    border-top-left-radius: 41px;
    border-bottom-left-radius: 41px;
    box-shadow: 8px 8px 26px rgba(164, 68, 159, 0.121);
    transition: 0.5s;
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45em;
    margin: 0 auto;
    margin-top: 1em;
    /* text-align: center; */
    overflow-y: scroll;
    overflow-x: hidden;
}

#post:hover {
    transition: 0.5s;
    box-shadow: 8px 8px 26px #a2449d42;
}

#post::-webkit-scrollbar {
    width: 16px;
    height: 20px;
}

#post::-webkit-scrollbar-thumb {
    background-color: #A444A0;
    background-size: 100% 100%;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px #d28dcf, inset -2px -2px 2px #812c7c;
}

#post::-webkit-scrollbar-track {
    background: #848586;
}

#post::-webkit-scrollbar-corner {
    background: #848586;
}

#profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 15em;
    margin-top: -44em;
    margin-left: 75%;
    z-index: 1;
    /* background-color: yellow; */
}

svg {
    z-index: 3;
    margin-left: -2em;
}

#blobSvg {
    width: 20em;
    height: 15em;
    margin-left: -4em;
    margin-top: -2em;
    z-index: 3;
    /* display: inline-block; */
    /* background-color: green; */
}

#divButtonLogout {
    width: 3em;
    height: 2em;
    margin-left: 85%;
    margin-top: 5em;
    z-index: 30;
    /* background-color: fuchsia; */
    
}

#LogoutButton {
    width: 4em;
    height: 3em;
    background: none;
    border: none;
    background-color: #52575E ;
    color: rgb(225, 224, 224) ;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(164, 68, 159, 0.485);
    transition: 0.5s;
}

#LogoutButton:hover {
    box-shadow: 2px 2px 10px rgba(164, 68, 159, 0.682);
    transition: 0.5s;
}



#clicable {
    position: relative;
    width: 10em;
    height: 10em;
    /* margin-left: 4em;
    margin-bottom: -4em; */
    border-radius: 50%;
    /* background-color: aqua; */
    z-index: 2;
}


/* #clicable:hover {
    cursor: pointer;
} */

a {
    width: 2em;
    height: 2em;
}

#crois {
    background-color: #52575E;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 0;
    margin-bottom: 3em;
    margin-right: 10em;
    cursor: pointer;
}

#crois p {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0 auto;
    margin-top: 0.3em;
}

#croisClose {
    background-color: #52575E;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    text-align: center;
    display: none;
    right: 0;
    margin-bottom: 3em;
    margin-right: 10em;
    cursor: pointer;
}

#croisClose p {
    margin-top: 0.3em;
    font-size: 3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#publication {
    width: 20em;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 15em;
    border-radius: 10px;
    background-color: #52575E;
    margin-left: 20em;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10em;
    margin-right: 3em;
}

input:focus {
    outline: none;
}

#name {
    width: 16em;
    height: 4em;
}


/* #categorie {
    width: 16em;
    height: 4em;
} */

#contentpost {
    width: 16em;
    height: 8em;
}

#postTitle {
    text-align: left;
    margin-left: 5px;
}

.barre {
    width: 98%;
    height: 3px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 5px;
}

#postContent {
    margin-left: 5px;
    margin-bottom: 10px;
}

#sport{
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}

#sport:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#gaming{
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}
#gaming:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#actualité {
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}
#actualité:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#humour{
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}
#humour:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#serieEtfilme{
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}
#serieEtfilme:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#musique {
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}
#musique:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#all {
    background: none;
    border: none;
    background-color: #848586;
    width:5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
   color: rgb(225, 224, 224);
   box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.485);
   transition: 0.5s;
   margin-bottom: 1.8em;
}

#all:hover{
    box-shadow: 0px 0px 20px rgba(164, 68, 159, 0.768);
    transition: 0.5s;
}

#signin{
    margin-left: 85%;
    margin-top: 15%;
    width: 4em;
    height: 3em;
    background: none;
    border: none;
    background-color: #52575E ;
    color: rgb(225, 224, 224) ;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(164, 68, 159, 0.485);
    transition: 0.5s;
}

#signin:hover {
    box-shadow: 2px 2px 10px rgba(164, 68, 159, 0.682);
    transition: 0.5s;
}

